<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/estils.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic+Guides&display=swap" rel="stylesheet">
<meta charset="UTF-8">
<section class="encabezado">
                <section class="encabezad1">
                    <span class="material-symbols-outlined"></span>
                    <h1 class="oswald-uniquifier">DAM1M04-EXERCICI302</h1>
                     <span class="material-symbols-outlined"></span>
                </section>
                <section>
                    <nav> 
                        <a href="/">Indice</a>
                        <a href="/movies">Movies</a>
                        <a href="/customers">customers</a>
                        <a href="/create">Crear pelicula</a>
                    </nav>
                </section>
        </section>